<h3>{{ title }} app is running!</h3>

<div class="form-div">
  <form [formGroup]="formGroup">
    <span>* </span> E-mail :
    <input
      type="email"
      formControlName="email"
      placeholder="Enter your e-mail"
    />

    <br />

    <span>* </span> Password :
    <input
      type="password"
      formControlName="password"
      placeholder="Enter your password"
    />

    <br />

    <span>* </span> Confirm Password :
    <input
      type="password"
      formControlName="confirm"
      placeholder="Confirm your password"
    />

    <br />

    <span>* </span> Nickname :
    <input
      type="text"
      formControlName="nickname"
      placeholder="Enter your nickname"
    />

    <br />

    <span>* </span> Phone Number :
    <input
      type="tel"
      formControlName="phoneNumber"
      placeholder="Enter your phone number"
    />

    <br />

    <span>* </span> Website :
    <input type="url" formControlName="website" placeholder="Website" />

    <br />

    <div>
      <input type="checkbox" id="checkbox" formControlName="agreement" /> I have
      read
      <a href="#">agreement</a>

      <br />

      <!-- [ngClass]="buttonRegister ? '' : 'invisible'" -->

      <button
        [disabled]="formGroup.invalid || editUserClicked"
        [hidden]="editUserClicked"
        (click)="onClick()"
        id="buttonRegister"
      >
        Register
      </button>
      <ng-container *ngIf="editUserClicked">
        <button
          (click)="updateUser()"
          id="buttonUpdate"
          [ngClass]="isReseted ? 'invisible' : 'visible'"
          [ngClass]="isUpdated ? 'invisible' : 'visible'"
        >
          Update
        </button>
        <button
          (click)="cancel()"
          class="cancel"
          [ngClass]="isReseted ? 'invisible' : 'visible'"
          [ngClass]="isUpdated ? 'invisible' : 'visible'"
        >
          Cancel
        </button>
      </ng-container>
      <ng-container *ngIf="passwordConfirmation === false">
        <span
          class="passwordConfirmation"
          [ngClass]="isReseted ? 'invisible' : 'visible'"
          [ngClass]="isUpdated ? 'invisible' : 'visible'"
          >Invalid password. Try again!</span
        >
      </ng-container>
    </div>
  </form>
</div>

<table>
  <tr>
    <th class="id">ID</th>
    <th>E-mail 📧</th>
    <th>Nickname 📛</th>
    <th>Phone Number 📞</th>
    <th class="website">Website 🌐</th>
    <th>Edit 📝</th>
  </tr>
  <tr *ngFor="let user of users">
    <td class="id">{{ user.id }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.nickname }}</td>
    <td>{{ user.phoneNumber }}</td>
    <td class="website">{{ user.website }}</td>
    <td>
      <button (click)="editUser(user.id)">Edit</button>
      <button (click)="removeUser(user.id)">Remove</button>
    </td>
  </tr>
</table>

<!-- *ngIf="users.length > 0" -->

<app-test></app-test>
<app-currency></app-currency>
