<h3>{{ title }} app is running!</h3>

<div class="form-div">
  <form [formGroup]="formGroup">
    E-mail :
    <input
      type="email"
      formControlName="email"
      placeholder="Enter your e-mail"
    />

    <br />

    Password :
    <input
      type="password"
      formControlName="password"
      placeholder="Enter your password"
    />

    <br />

    Confirm Password :
    <input
      type="password"
      formControlName="confirmPassword"
      placeholder="Confirm your password"
    />

    <br />

    Nickname :
    <input
      type="text"
      formControlName="nickname"
      placeholder="Enter your nickname"
    />

    <br />

    Phone Number :
    <input
      type="tel"
      formControlName="phoneNumber"
      placeholder="Enter your phone number"
    />

    <br />

    Website :
    <input type="url" formControlName="website" placeholder="Website" />

    <br />

    <div>
      <input type="checkbox" id="checkbox" /> I have read
      <a href="#">agreement</a>

      <br />

      <button (click)="onClick()">Register</button>
    </div>
  </form>
</div>
