<h3>{{ title }} app is running!</h3>

<div class="form-div">
  <form [formGroup]="formGroup">
    <span>* </span> E-mail :
    <input
      type="email"
      formControlName="email"
      placeholder="Enter your e-mail"
    />

    <br />

    <span>* </span> Password :
    <input
      type="password"
      formControlName="password"
      placeholder="Enter your password"
    />

    <br />

    <span>* </span> Confirm Password :
    <input
      type="password"
      formControlName="confirm"
      placeholder="Confirm your password"
    />

    <br />

    <span>* </span> Nickname :
    <input
      type="text"
      formControlName="nickname"
      placeholder="Enter your nickname"
    />

    <br />

    <span>* </span> Phone Number :
    <input
      type="tel"
      formControlName="phoneNumber"
      placeholder="Enter your phone number"
    />

    <br />

    <span>* </span> Website :
    <input type="url" formControlName="website" placeholder="Website" />

    <br />

    <div>
      <input type="checkbox" id="checkbox" formControlName="agreement" /> I have
      read
      <a href="#">agreement</a>

      <br />

      <button [disabled]="formGroup.invalid" (click)="onClick()">
        Register
      </button>
    </div>
  </form>
</div>

<ng-container *ngIf="users.length > 0"
  ><table>
    <tr>
      <th>E-mail 📧</th>
      <th>Nickname 📛</th>
      <th>Phone Number 📞</th>
      <th class="website">Website 🌐</th>
      <th>Edit 📝</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{ user.email }}</td>
      <td>{{ user.nickname }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td class="website">{{ user.website }}</td>
      <td>
        <button (click)="updateUser()">Update</button>
        <button (click)="removeUser()">Remove</button>
      </td>
    </tr>
  </table></ng-container
>
